.screen-container{
    display: flex;
    justify-content: space-evenly;
}
.large-box{
    border: 3px solid black;
    min-width:30vw;
    min-height:30vw;
}
.small-box{
    border: 3px solid black;
    min-width:10vw;
    min-height:10vw;
}